body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.none{
    display: none;
}
.sidebar{
    width: 388px;
    height: 100%;
    padding-top:82px;
    position: fixed;
    background-color: #f8f8f8;
    z-index: 99;
}
.profile_card{
    background-color: #00539b;
    height: 157px;
    position: relative;
}
.profile_image{
    width: 118px;
    height: 114px;
    position: absolute;
    margin-top:8px;
    margin-left:13px;
}
.profile_name{
    font-size:21px;
    color:white;
    position: absolute;
    margin-top:50px;
    margin-left:151px;
}
.profile_job{
    font-size:16px;
    color:#b9bbbe;
    position: absolute;
    margin-top:75px;
    margin-left:151px;
}
.profile_company{
    font-size:21px;
    color:white;
    position: absolute;
    margin-top:109px;
    margin-left:151px;
}
.sidebar_list{
    padding: 0px;
    padding-top: 28px;
}
.sidebar_list>a>li{
    list-style: none;
    height:77px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    margin-bottom: 9px;
    position: relative;
    color:black;
    background-color: white;
}
.sidebar_list>a>li:nth-child(6){
    margin-top: 70px;
}
.part_title{
    position: absolute;
    top:27px;
    left:91px;
    font-size: 21px;
}
.sidebar_list>a>li:hover{
    background-color: #00539b;
    color: white;
    cursor: pointer;
}
.performance{
    position: absolute;
    width: 45px;
    top:18px;
    left:30px;
}
.route2{
    position: absolute;
    width: 39px;
    top:18px;
    left:35px;
}
.mayfly{
    position: absolute;
    width: 53px;
    top:26px;
    left:34px;
}
.contacts{
    position: absolute;
    width: 40px;
    top:18px;
    left:29px;
}
.settings{
    position: absolute;
    width: 40px;
    top:17px;
    left:34px;
}
.danger{
    position: absolute;
    width: 37px;
    top:19px;
    left:37px;
}
.main-content{
    background: url(../img/hifly-a330-200-fltairbuslrw-copy-2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.cover{
    background-color:rgba(140, 140, 140, 0.76);
    width: 100%;
    height:100%;
    position: absolute;
    padding-top: 82px;
}
.date{
    position: relative;
}
.date-label{
    margin-top:21px;
    margin-bottom:29px;
    text-align: center;
    color:white;
    font-size:18pt;
}
.flight_card{
    height: 135px;
    background-color: #00539b;
    padding-right: 32px;
    padding-left: 50px;
    padding-top: 8px;
    color:white;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    margin-bottom: 10px;
}
.from,.to,.tire{
    font-size: 42px;
}
.tire{
    margin-left: 11px;
    margin-right: 11px;
}
.card_icons>a>.route{
    width: 40px;
    height:40px;
    margin-right: 80px;
}
.card_icons>.notification{
   width: 40px;
    height:40px; 
}
.status{
    padding-left: 41px;
}
.status>.row>.status-icon{
    width: 35px;
    height: 28px;
    margin-top: 11px;
}
.status>.row>.status_title{
    font-size:16px;
    margin-top:19px;
    margin-left:5px;
}
.reis_number{
    font-weight: 400;
    font-size:20px;
}
.curier{
    font-size: 16px;
}
.weight{
    font-size: 16px;
}
.stars_rate{
}
.stars_rate>.col-md-6{
        margin-top: 21px;
}
.addition_info{
    margin-top:5px;
}
.notification:hover{
    cursor: pointer;
}
#map {
        height: 200px;
        width: 100%;
       }
.map_container{
    position: relative;
}
.bottom_menu{
    position: absolute;
    bottom: 0px;
}
.navigation_button:hover{
    cursor: pointer;
}
.notification_card{
    margin: 0;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.notification_creating{
    background-color: #00539b;
    padding: 20px;
}
.col{
    padding: 0px !important;
}
.navbar{
    padding:0px !important;
}
.navigation{
    height: 82px;
    background-color: #00539b;
}
.navigation_title{
    color:#ffffff;
    font-size:25px;
    position: absolute;
    left: 170px;
    top:25px;
}
.sidebar-mob:nth-child(6){
    margin-top: 70px;
}
.navigation_button{
    position: absolute;
    left: 35px;
    top:30px;
}
.navigation_button>img{
    width: 35px;
}
.input-group-text{
    background-color: white !important; 
}
.search_button{
    position: absolute;
    right: 35px;
    top:26px;
}
#search{
    width: 30px;
    height: 30px;
}
#close_search:hover{
    cursor: pointer;
}
.search_button>img{
    width: 62px;
    height: 47px;
}
.search_button>img:hover{
    cursor: pointer;
}
.navigation_button:hover{
    cursor: pointer;
}