.routes_list{
    margin-top: 92px;
    padding: 0px;
}
.route_parts{
    margin-top: 5px;
    background-color: #045295;
    color:white;
    height: 77px;
}
.from_route{
    margin-top: 10px;
    margin-left: 40px;
    font-size: 40px;
}
.tire_route{
    margin-top: 10px;
    margin-left: 14px;
    font-size: 40px;
}
.to_route{
    margin-top: 10px;
    margin-left: 14px;
    font-size: 40px;
}
.route_times{
    width: 24px;
     height: 24px;
    margin-top: 24px;
}
.route_digit{
    margin-top: 19px;
    margin-left: 12px;
    font-size:26px;
}
.statictics{
   margin-top: 19px;
    margin-left: 12px;
    width:30px;
    height:30px;
}